<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="hibernate-configuration"
                 requirePermission="false"
                 type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    </configSections>

    <connectionStrings>
        <add name="Data"
             connectionString="Data Source=.\App_Data\Database.sdf"
             providerName="System.Data.SqlServerCe"/>
    </connectionStrings>

    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <session-factory>
            <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
            <property name="dialect">NHibernate.Dialect.MsSqlCeDialect</property>
            <property name="connection.connection_string_name">Data</property>
            <property name="show_sql">true</property>
            <property name="current_session_context_class">thread_static</property>
            <property name="hbm2ddl.auto">validate</property>
            <mapping assembly="Ogd.DataSource.Tests" />
        </session-factory>
    </hibernate-configuration>

</configuration>